<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="compra">
      <h2 data-cy="compraDetailsHeading"><span jhiTranslate="yuliqApp.compra.detail.title">Compra</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ compra.id }}</span>
        </dd>
        <dt><span jhiTranslate="yuliqApp.compra.cantidadComprada">Cantidad Comprada</span></dt>
        <dd>
          <span>{{ compra.cantidadComprada }}</span>
        </dd>
        <dt><span jhiTranslate="yuliqApp.compra.precioPagado">Precio Pagado</span></dt>
        <dd>
          <span>{{ compra.precioPagado }}</span>
        </dd>
        <dt><span jhiTranslate="yuliqApp.compra.factura">Factura</span></dt>
        <dd>
          <div *ngIf="compra.factura">
            <a [routerLink]="['/factura', compra.factura?.id, 'view']">{{ compra.factura?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/compra', compra.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
