<div>
  <h2 id="page-heading" data-cy="CarritoHeading">
    <span jhiTranslate="yuliqApp.carrito.home.title">Carritos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="yuliqApp.carrito.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-carrito"
        [routerLink]="['/carrito/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="yuliqApp.carrito.home.createLabel"> Create a new Carrito </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="carritos?.length === 0">
    <span jhiTranslate="yuliqApp.carrito.home.notFound">No carritos found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="carritos && carritos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="cantidad">
            <span jhiTranslate="yuliqApp.carrito.cantidad">Cantidad</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="fechaCarrito">
            <span jhiTranslate="yuliqApp.carrito.fechaCarrito">Fecha Carrito</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="assignedTo.login">
            <span jhiTranslate="yuliqApp.carrito.assignedTo">Assigned To</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let carrito of carritos; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/carrito', carrito.id, 'view']">{{ carrito.id }}</a>
          </td>
          <td>{{ carrito.cantidad }}</td>
          <td>{{ carrito.fechaCarrito | formatMediumDatetime }}</td>
          <td>
            {{ carrito.assignedTo?.login }}
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/carrito', carrito.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/carrito', carrito.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="carritos && carritos.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
