<div class="wrapper">
  <div class="carousel">
    <div class="carousel__item">
      <div class="carousel__item-head">🥗</div>
      <div class="carousel__item-body">
        <p class="title">Ensalada</p>
        <p>La Ensalada mas fresca</p>
      </div>
    </div>
    <div class="carousel__item">
      <div class="carousel__item-head">🥞</div>
      <div class="carousel__item-body">
        <p class="title">Postres</p>
      </div>
    </div>
    <div class="carousel__item">
      <div class="carousel__item-head">🐙</div>
      <div class="carousel__item-body">
        <p class="title">Pescado</p>
        <p>El mejor pescado de los 7 mares</p>
      </div>
    </div>
    <div class="carousel__item">
      <div class="carousel__item-head">🍺</div>
      <div class="carousel__item-body">
        <p class="title">Cerveza</p>
        <p>Todo tipo de bebidas</p>
      </div>
    </div>
    <div class="carousel__item">
      <div class="carousel__item-head">🍕</div>
      <div class="carousel__item-body">
        <p class="title">Las mejores pizzas</p>
        <p>Carbonara, barbacoa, cuatro quesos...</p>
      </div>
    </div>
    <div class="carousel__item">
      <div class="carousel__item-head">🍔</div>
      <div class="carousel__item-body">
        <p class="title">Las mejores hamburguesas</p>
        <p>Con opción vegana</p>
      </div>
    </div>
    <div class="carousel__item">
      <div class="carousel__item-head">🍲</div>
      <div class="carousel__item-body">
        <p class="title">Sopa de pescado</p>
      </div>
    </div>
    <div class="carousel__item">
      <div class="carousel__item-head">🍗</div>
      <div class="carousel__item-body">
        <p class="title">Carne</p>
      </div>
    </div>
    <div class="carousel__item">
      <div class="carousel__item-head">🥘</div>
      <div class="carousel__item-body">
        <p class="title">Paella</p>
        <p>La auténtica paella valenciana</p>
      </div>
    </div>
  </div>
</div>
