<div>
  <h2 id="page-heading" data-cy="ProductoHeading">
    <span jhiTranslate="yuliqApp.producto.home.title">Productos</span>

    <div class="d-flex justify-content-end" *jhiHasAnyAuthority="'ROLE_ADMIN'">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="yuliqApp.producto.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-producto"
        [routerLink]="['/producto/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="yuliqApp.producto.home.createLabel"> Create a new Producto </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>
  <button class="btn btn-danger" (click)="exportPdf()">PDF</button>
  <div class="card">
    <div class="card-header">
      <div class="row align-items-baseline" [ngClass]="{ 'is-last-child': areFiltersCollapsed }">
        <div class="col-5">
          <span jhiTranslate="yuliqApp.producto.table">Ver tabla de productos</span>
          <fa-icon style="color: #6aaadf" *ngIf="!isFiltring" [icon]="'filter'"></fa-icon>
          <fa-icon style="color: white" *ngIf="isFiltring" [icon]="'filter'"></fa-icon>
        </div>

        <div class="col-7 d-flex justify-content-end">
          <button
            type="button"
            *ngIf="!areFiltersCollapsed"
            jhiTranslate="yuliqApp.producto.filter"
            class="btn btn-filtrar"
            (click)="filter()"
          >
            Filtrar
          </button>
          <button
            type="button"
            *ngIf="!areFiltersCollapsed"
            jhiTranslate="yuliqApp.producto.clean"
            class="btn btn-limpiar"
            (click)="resetFilter()"
            [disabled]="!isFiltring"
          >
            Limpiar
          </button>
          <button type="button" class="btn btn-filtro" *ngIf="areFiltersCollapsed" (click)="areFiltersCollapsed = false">
            <fa-icon [icon]="'arrow-down'"></fa-icon>
          </button>
          <button type="button" *ngIf="!areFiltersCollapsed" class="btn btn-filtro" (click)="areFiltersCollapsed = true">
            <fa-icon [icon]="'arrow-up'"></fa-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="card-body" [ngbCollapse]="areFiltersCollapsed" *ngIf="isHidden">
      <form name="filterform" role="form" novalidate [formGroup]="filterForm" class="busqueda">
        <div class="row align-items-end">
          <div class="col-md-4">
            <label class="form-control-label" for="nombre"><span jhiTranslate="yuliqApp.producto.nombreProducto">Name</span></label>
            <input type="text" class="form-control" id="nombre" formControlName="nombre" />
          </div>

          <div class="col-md-2">
            <label class="form-control-label" for="calorias"><span jhiTranslate="yuliqApp.producto.calorias">Comida sana</span></label>
            <input type="text" class="form-control" id="calorias" formControlName="calorias" />
          </div>

          <div class="col-md-2">
            <label class="form-control-label" for="precio"><span jhiTranslate="yuliqApp.producto.precio">Precio inferior a</span></label>
            <input type="text" class="form-control" id="precio" formControlName="precio" />
          </div>
        </div>
        <div id="entities" *ngIf="productos && productos.length > 0">
          <table class="table table-striped" aria-describedby="page-heading">
            <thead>
              <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                <th scope="col" jhiSortBy="nombreProducto">
                  <span jhiTranslate="yuliqApp.producto.nombreProducto">Nombre</span>
                  <fa-icon icon="sort"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="calorias">
                  <span jhiTranslate="yuliqApp.producto.calorias">Calorias</span>
                  <fa-icon icon="sort"></fa-icon>
                </th>

                <th scope="col" jhiSortBy="precio">
                  <span jhiTranslate="yuliqApp.producto.precio">Precio</span>
                  <fa-icon icon="sort"></fa-icon>
                </th>

                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let producto of productos; trackBy: trackId" data-cy="entityTable">
                <td>{{ producto.nombreProducto }}</td>
                <td>{{ producto.calorias }}</td>

                <td>{{ producto.precio }}</td>

                <td jhiTranslate="{{ 'yuliqApp.TipoProducto.' + producto.tipoproducto }}">{{ producto.tipoproducto }}</td>

                <td class="text-right">
                  <div class="btn-group">
                    <button
                      *jhiHasAnyAuthority="'ROLE_ADMIN'"
                      type="submit"
                      [routerLink]="['/producto', producto.id, 'edit']"
                      class="btn btn-primary btn-sm"
                      data-cy="entityEditButton"
                    >
                      <fa-icon icon="pencil-alt"></fa-icon>
                      <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </form>
    </div>
  </div>
</div>

<div style="background-image: url(../../../../swagger-ui/dist/images/tickets_restaurant-2-920x385.jpg)">
  <main class="container py-4" *ngFor="let producto of productos">
    <article
      class="postcard dark blue"
      [ngbCollapse]="areFiltersCollapsed"
      *ngIf="isHidden"
      jhiSort
      [(predicate)]="predicate"
      [(ascending)]="ascending"
      [callback]="loadPage.bind(this)"
    >
      <a class="postcard__img_link" href="#">
        <img class="postcard__img" src="https://picsum.photos/1000/1000" alt="Image Title" />
      </a>
      <div class="postcard__text">
        <h1 class="postcard__title blue">
          <a href="#">{{ producto.nombreProducto }}</a>
        </h1>
        <div class="postcard__subtitle small">
          <h4>{{ producto.precio }}€</h4>
        </div>
        <div class="postcard__bar"></div>
        <div class="postcard__preview-txt">
          Este producto de la categoría {{ producto.tipoproducto }}, contiene {{ producto.calorias }} calorías
        </div>
        <ul class="postcard__tagbox">
          <li class="tag__item play blue">
            <button
              type="submit"
              [routerLink]="['/producto', producto.id, 'view']"
              class="btn btn-info btn-sm"
              data-cy="entityDetailsButton"
            >
              <fa-icon icon="eye"></fa-icon>
              <span *jhiHasAnyAuthority="'ROLE_ADMIN'" class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
            </button>
          </li>
          <li class="tag__item play blue">
            <button
              *jhiHasAnyAuthority="'ROLE_USER'"
              type="submit"
              [routerLink]="['/producto', producto.id, 'view']"
              class="btn btn-info btn-sm"
              data-cy="entityDetailsButton"
            >
              <span [ngSwitch]="isAuthenticated()" class="d-none d-md-inline">Añadir a la cesta</span>
            </button>
          </li>
        </ul>
      </div>
    </article>
  </main>
  <div class="row justify-content-center">
    <ngb-pagination
      [collectionSize]="totalItems"
      [(page)]="ngbPaginationPage"
      [pageSize]="itemsPerPage"
      [maxSize]="5"
      [rotate]="true"
      [boundaryLinks]="true"
      (pageChange)="loadPage($event)"
    ></ngb-pagination>
  </div>
</div>
