<div>
  <h2 id="page-heading" data-cy="FacturaHeading">
    <span jhiTranslate="yuliqApp.factura.home.title">Facturas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="yuliqApp.factura.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-factura"
        [routerLink]="['/factura/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="yuliqApp.factura.home.createLabel"> Create a new Factura </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>
  <button class="btn btn-danger" (click)="exportPdf()">PDF</button>
  <div class="card">
    <div class="card-header">
      <div class="row align-items-baseline" [ngClass]="{ 'is-last-child': areFiltersCollapsed }">
        <div class="col-5">
          <span>Filtros</span>
          <fa-icon style="color: #6aaadf" *ngIf="!isFiltring" [icon]="'filter'"></fa-icon>
          <fa-icon style="color: white" *ngIf="isFiltring" [icon]="'filter'"></fa-icon>
        </div>

        <div class="col-7 d-flex justify-content-end">
          <button type="button" *ngIf="!areFiltersCollapsed" class="btn btn-filtrar" (click)="filter()">Filtrar</button>
          <button type="button" *ngIf="!areFiltersCollapsed" class="btn btn-limpiar" (click)="resetFilter()" [disabled]="!isFiltring">
            Limpiar
          </button>
          <button type="button" class="btn btn-filtro" *ngIf="areFiltersCollapsed" (click)="areFiltersCollapsed = false">
            <fa-icon [icon]="'arrow-down'"></fa-icon>
          </button>
          <button type="button" *ngIf="!areFiltersCollapsed" class="btn btn-filtro" (click)="areFiltersCollapsed = true">
            <fa-icon [icon]="'arrow-up'"></fa-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="card-body" [ngbCollapse]="areFiltersCollapsed">
      <form name="filterform" role="form" novalidate [formGroup]="filterForm" class="busqueda">
        <div class="row align-items-end">
          <div class="col-md-4">
            <label class="form-control-label" for="field_dateFrom"
              ><span jhiTranslate="yuliqApp.producto.nombreProducto">Fecha posterior o igual a:</span></label
            >
            <input type="date" class="form-control" id="field_dateFrom" formControlName="field_dateFrom" />
          </div>
          <div class="col-md-4">
            <label class="form-control-label" for="field_dateto"><span>Fecha anterior a:</span></label>
            <input type="date" class="form-control" id="field_dateto" formControlName="field_dateto" />
          </div>
          <div class="col-md-4">
            <label class="form-control-label" for="id"><span>ID</span></label>
            <input type="text" class="form-control" id="id" formControlName="id" />
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="alert alert-warning" id="no-result" *ngIf="facturas?.length === 0">
  <span jhiTranslate="yuliqApp.factura.home.notFound">No facturas found</span>
</div>

<div class="table-responsive" id="entities" *ngIf="facturas && facturas.length > 0">
  <table class="table table-striped" aria-describedby="page-heading">
    <thead>
      <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
        <th scope="col" jhiSortBy="id">
          <span jhiTranslate="global.field.id">ID</span>
          <fa-icon icon="sort"></fa-icon>
        </th>
        <th scope="col" jhiSortBy="fechaFactura">
          <span jhiTranslate="yuliqApp.factura.fechaFactura">Fecha Factura</span>
          <fa-icon icon="sort"></fa-icon>
        </th>
        <th scope="col" jhiSortBy="cantidadPagada">
          <span jhiTranslate="yuliqApp.factura.cantidadPagada">Cantidad Pagada</span>
          <fa-icon icon="sort"></fa-icon>
        </th>
        <th scope="col" jhiSortBy="assignedTo.login">
          <span jhiTranslate="yuliqApp.factura.assignedTo">Asignado a</span>
          <fa-icon icon="sort"></fa-icon>
        </th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let factura of facturas; trackBy: trackId" data-cy="entityTable">
        <td>
          <a [routerLink]="['/factura', factura.id, 'view']">{{ factura.id }}</a>
        </td>
        <td>{{ factura.fechaFactura | formatMediumDatetime }}</td>
        <td>{{ factura.cantidadPagada }}</td>
        <td>
          {{ factura.assignedTo?.login }}
        </td>
        <td class="text-right">
          <div class="btn-group">
            <button type="submit" [routerLink]="['/factura', factura.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
              <fa-icon icon="eye"></fa-icon>
              <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
            </button>

            <button
              *jhiHasAnyAuthority="'ROLE_ADMIN'"
              type="submit"
              [routerLink]="['/factura', factura.id, 'edit']"
              class="btn btn-primary btn-sm"
              data-cy="entityEditButton"
            >
              <fa-icon icon="pencil-alt"></fa-icon>
              <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="facturas && facturas.length > 0">
  <div class="row justify-content-center">
    <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
  </div>

  <div class="row justify-content-center">
    <ngb-pagination
      [collectionSize]="totalItems"
      [(page)]="ngbPaginationPage"
      [pageSize]="itemsPerPage"
      [maxSize]="5"
      [rotate]="true"
      [boundaryLinks]="true"
      (pageChange)="loadPage($event)"
    ></ngb-pagination>
  </div>
</div>
