<div>
  <h2 id="page-heading" data-cy="CompraHeading">
    <span jhiTranslate="yuliqApp.compra.home.title">Compras</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="yuliqApp.compra.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-compra"
        [routerLink]="['/compra/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="yuliqApp.compra.home.createLabel"> Create a new Compra </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="compras?.length === 0">
    <span jhiTranslate="yuliqApp.compra.home.notFound">No compras found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="compras && compras.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="cantidadComprada">
            <span jhiTranslate="yuliqApp.compra.cantidadComprada">Cantidad Comprada</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="precioPagado">
            <span jhiTranslate="yuliqApp.compra.precioPagado">Precio Pagado</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="factura.id">
            <span jhiTranslate="yuliqApp.compra.factura">Factura</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let compra of compras; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/compra', compra.id, 'view']">{{ compra.id }}</a>
          </td>
          <td>{{ compra.cantidadComprada }}</td>
          <td>{{ compra.precioPagado }}</td>
          <td>
            <div *ngIf="compra.factura">
              <a [routerLink]="['/factura', compra.factura?.id, 'view']">{{ compra.factura?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/compra', compra.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/compra', compra.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="compras && compras.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
